/* ===========================================
   Base Styles
   =========================================== */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: theme(--color-muted-foreground) theme(--color-sidebar);
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-libreBaskerville;
  }
}
