/* ===========================================
   Font Faces for StoryChain
   =========================================== */

/* Yellowtail */
@font-face {
  font-family: 'Yellowtail';
  src: url('/fonts/Yellowtail/Yellowtail-Regular.woff');
  font-style: normal;
  font-display: swap;
}

/* Playfair */
@font-face {
  font-family: 'Playfair';
  src: url('/fonts/Palyfair/Playfair9pt-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair';
  src: url('/fonts/Palyfair/Playfair9pt-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair';
  src: url('/fonts/Palyfair/Playfair9pt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair';
  src: url('/fonts/Palyfair/Playfair9pt-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair';
  src: url('/fonts/Palyfair/Playfair9pt-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* LibreBaskerville */
@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville/LibreBaskerville-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville/LibreBaskerville-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville/LibreBaskerville-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville/LibreBaskerville-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* IBMPlexMono */
@font-face {
  font-family: 'IBMPlexMono';
  src: url('/fonts/IBMPlexMono/IBMPlexMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('/fonts/IBMPlexMono/IBMPlexMono-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('/fonts/IBMPlexMono/IBMPlexMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('/fonts/IBMPlexMono/IBMPlexMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('/fonts/IBMPlexMono/IBMPlexMono-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('/fonts/IBMPlexMono/IBMPlexMono-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('/fonts/IBMPlexMono/IBMPlexMono-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
