@import 'tailwindcss';
@import './fonts.css';
@import 'tw-animate-css';
@import './styles/variables.css';
@import './styles/theme.css';
@import './styles/base.css';
@import './styles/utilities.css';
@import './styles/components.css';

@custom-variant dark (&:is(.dark *));
