@import 'tailwindcss';
/* @plugin 'tailwind-scrollbar-hide/v4'; */
@plugin '@tailwindcss/typography';
@import 'tw-animate-css';

@import './fonts.css';
@import './styles/variables.css';
@import './styles/theme.css';
@import './styles/base.css';
@import './styles/utilities.css';
@import './styles/components.css';

@custom-variant dark (&:is(.dark *));
